@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flutter {
  0%,
  35%,
  65%,
  100% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
}
